StrictHostKeyChecking no
UserKnownHostsFile=/dev/null

Host target1
    Hostname 172.16.4.12
    IdentityFile test/clientkeys/id_ed25519_lilo
    Port 22

Host target2
    Hostname 172.16.4.13
    IdentityFile test/clientkeys/id_ed25519_stitch
    Port 22

Host bastille-lilo
    Hostname 127.0.0.1
    IdentityFile test/clientkeys/id_ed25519_lilo
    Port 22222

Host bastille-stitch
    Hostname 127.0.0.1
    IdentityFile test/clientkeys/id_ed25519_stitch
    Port 22222

Host bastille-wrong
    Hostname 127.0.0.1
    IdentityFile test/clientkeys/id_ed25519_wrong
    Port 22222

Host bastille-pass
    Hostname 127.0.0.1
    Port 22222
    PreferredAuthentications password
    PubkeyAuthentication no

Host bastille-bad-hostkey
    Hostname 127.0.0.1
    IdentityFile test/clientkeys/id_ed25519_lilo
    HostKeyAlgorithms rsa-sha2-256
    Port 22222

Host bastille-bad-kex
    Hostname 127.0.0.1
    IdentityFile test/clientkeys/id_ed25519_lilo
    KexAlgorithms diffie-hellman-group16-sha512
    Port 22222

Host bastille-bad-mac
    Hostname 127.0.0.1
    IdentityFile test/clientkeys/id_ed25519_lilo
    MACs hmac-sha2-256-etm@openssh.com
    Port 22222

Host bastille-bad-cipher
    Hostname 127.0.0.1
    IdentityFile test/clientkeys/id_ed25519_lilo
    Ciphers chacha20-poly1305@openssh.com
    Port 22222
